<nb-card>
  <nb-card-header>
    Students
    <button class="btn btn-danger" style="float: right;" type="submit"  routerLink="/admin/students/add" href="#/admin/students/add">Add</button>
    <button class="btn btn-danger" style="float: right;" type="submit" routerLink="/admin/students/train" href="#/admin/students/train">Train</button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
