<div class="row">
    <div class="col-md-6">
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"></webcam>
        <br/>
        <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
        <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
        <div class="snapshot" *ngIf="webcamImage">
          <h2>Nice one!</h2>
          <div *ngFor="let image of multipleImages">
              <img [src]="image"/>
          </div>
          
        </div>
        
        <nb-card>
          <nb-card-header>Attendance</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <label>Class</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Section</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-danger">Submit</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
</div>