<div class="row">
    <div class="col-md-6">
        <nb-card>
          <nb-card-header>Attendance</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <label>Class</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Section</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-danger">Submit</button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
</div>