<div class="row">
    <div class="col-md-6 offset-3">
        <nb-card>
          <nb-card-header>Attendance Portal</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-6">
                <a routerLink="auth/admin" href="#/auth/admin" class="login-img">
                    <img src="../../../assets/images/admin.svg">
                    <span>Admin</span>
                </a>
                
              </div>
              <div class="col-lg-6">
                <a routerLink="auth/teacher" href="#/auth/teacher" class="login-img">
                    <img src="../../../assets/images/teacher.png">
                    <span>Teacher</span>
                </a>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
</div>